body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 600;
}

/* Headings */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900; /* 'Montserrat-Black' */
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: 500; /* like bold */
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

/* Title section */

#title .container-fluid {
  padding: 3% 15% 7%; /* more specific */
  text-align: left;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */

#features {
  position: relative;
}

.feature-icon {
  color: #ef8172;
  /*
  font-size: 3rem; size of the icon can be replaced through a class .fa-4x
  */
  padding: 0 0 10px;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-title {
  font-size: 1.5rem;
}

#features p {
  color: #8f8f8f;
}

.feature-box {
  padding-bottom: 10%;
}

/* Testimonial section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;

  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 10%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.second-column {
  position: relative; /* using this class to make a dog pic to be a 60% of that section. Need to do that, to hide it behind the section */
}

/* CTA Section */

#cta {
  background-color: #ff4c68;

  color: #fff;
}

/* Footer */

#footer {
  background-color: #fff;
}

.icons {
  margin-bottom: 20px;
}

#footer p {
  color: grey;
}

.twitter,
.facebook,
.instagram {
  padding-right: 20px;
}

@media (max-width: 991px) {
  /* mobile mode */
  .title-image {
    position: static;
    transform: none; /* or: transform: rotate(0); */
  }

  #title .container-fluid {
    text-align: center;
  }

  .big-heading {
    font-size: 2rem;
  }

  .section-heading {
    font-size: 2.5rem;
  }

  #pricing {
    padding: 10% 0;
  }
}
